.register {
  margin-top: 18rem;

  &__title {
    color: $WHITE;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2.25rem;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__field {
    background-color: transparent;
    border: 2px solid $WHITE;
    min-height: 3.75rem;
    min-width: 60%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0 0.75rem;
    color: $WHITE;
    font-size: 1.5rem;

    &::placeholder {
      color: $PALE_LAVENDER_SWEET;
    }
  }

  &__button {
    min-height: 3.75rem;
    background-color: $WHITE;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }
}
