.player-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $WHITE;
  padding: 0.75rem 1.5rem;
  width: 100%;
  border-radius: 0.5rem;

  &__name {
    font-size: 1.25rem;
  }

  &__score {
    font-size: 1.25rem;
  }

  &__action {
    background-color: $COSMIC_FALL;
    color: $WHITE;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  &--highlighted {
    background-color: $PUMPKIN_YELLOW;
  }
}
